body {
    background-color: #222222;
    color: azure;
}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 10;
    bottom: 0;
    left: 0;
    /* z-index: 100; */
    /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
   * Utilities
   */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}


path.geoPath {
    stroke-width: .4px;
    stroke: black
}

path.geoPath:hover {
    opacity: .6;
    stroke: black;
    stroke-width: 1.5px;
}

#tooltip {
    color: black;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: auto;
    padding: 10px;
    background: white;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 10px;
    line-height: 1;
}

.line1 {
    fill: none;
    stroke-width: 3px;
    stroke: orangered;
    fill-opacity: 40%;
}

.line1:hover {
    fill: none;
    stroke-width: 7px;
    stroke: orange;
    fill-opacity: 30%;
}

.axis {
    fill: none;
    font-size: 12pt;
    font-weight: lighter;
    stroke-width: 1px;
    stroke: azure;
    fill-opacity: 60%;
}

.rightAxis {
    fill: none;
    font-size: 12pt;
    font-weight: lighter;
    stroke-width: 1px;
    stroke: orangered;
    fill-opacity: 60%;
}

.chartTitle {
    font-weight: lighter;
    stroke-width: 1.5px;
    stroke: azure;
    font-size: 15pt;

}

.rightChartTitle {
    font-weight: lighter;
    stroke-width: 1.5px;
    stroke: orangered;
    font-size: 16pt;

}

.bar {
    fill: gray;
    opacity: 0.6;
}

.bar:hover {
    fill: lightgray;
    opacity: 0.7;
}

.legend2,
.legend2ordinal {
    background-color: #fff;
    width: 100px;
    height: 200px;
    border: 1px solid #bbb;
    margin: 10px;
    float: right;
}

.input-group-text{
    background-color: #222222;
    border: none;
    color: azure;
}
